.graphicColor {
    margin-right: -6px;
}

@media (min-width: 576px) {
    .navbar li {
        font-size: 14px;
    }
    .tree-img {
        position: relative;
        float: inline-end;
    }
    .logo-img {
        padding-right: 20px;
    }
    .hero-img {
        margin-left: 70px;
        padding-top: 5px;
    }
    .hero-text {
        align-content: center;
        text-align-last: center;
        font-size: 10px;
        position: relative;
        bottom: 20px;
    }
    .top-container-column1-fillertext, .top-container-column2-fillertext, .bottom-container-column1-fillertext, .bottom-container-column2-fillertext {
        font-size: 10px;
    }

}

@media (min-width: 768px) {
    .navbar li {
        font-size: 14px;
    }
    .hero-text {
        font-size: 17px;
        position: relative;
        bottom: 28px;
    }
    .email {
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    .navbar li {
        font-size: 15px;
    }
    .hero-img {
        margin-left: 200px;
        padding-top: 5px;
    }
    .hero-text {
        font-size: 26px;
    }
    .top-container-column1-fillertext, .top-container-column2-fillertext, .bottom-container-column1-fillertext, .bottom-container-column2-fillertext {
        font-size: 15px;
    }
}

.portfolio-header-text {
    font-size: 25px;
}

.major-advertisers-header-text {
    font-size: 25px;
}

.follow-us {
    font-size: 20px;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    font-size: 11px;
}

.bottom-navbar ul {
    display: inline-flex;
    list-style: none;
    font-size: 10px;
}

.navbar li {
    margin-right: 10px;
}

.bottom-navbar li {
    margin-right: 10px;
}

.amazing-column img, .Availability-column img, .web-column img, .mobile-column img {
    height: 75px;
    width: 75px;
}

.top-container-column-1-header, .top-container-column-2-header, .bottom-container-column-1-header, .bottom-container-column-2-header {
    font-size: 20px;
}

.top-column-1-buttons, .top-column-2-buttons, .bottom-column-1-buttons, .bottom-column-2-buttons {
    font-size: 10px;
}

.top-column-1-buttons button, .top-column-2-buttons button, .bottom-column-1-buttons button, .bottom-column-2-buttons button {
    border-radius: 8px;
}

.litle-about-us-header p, .archives-header p, .CONTACT-US-header p, .newsletter-header p {
    font-size: 20px;
}

.business-cards-img img, .moo-minicards img, .say-in-print-img img, .Graphics-img img {
    height: 120;
    width: 120;
}

